body {
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-size: 18px;
	text-align: center;
	letter-spacing: 0.5px;
	background: #16222A;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

input {
	width: 300px;
	padding: 1px;
	font-size: 15px;
	border-radius: 5px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
}

button {
	width: 70px;
	font-size: 16px;
	border-radius: 5px;
}